.selectioncontainer {
  position: relative;
  min-width: 100%;
  max-width: max-content;
  min-height: 100vh;
  max-height: max-content;
  position: fixed;
  overflow: hidden !important;

  #Video {
    min-width: 100%;
    max-width: max-content;
    min-height: 100vh;
    max-height: max-content;
    object-fit: cover;
    
  }
}

.swipermain {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  z-index: 9 !important;
}

// SWIPER
.swiper-container {
  width: 100%;
  .swiper-slide {
    // width: 18.75rem;
    // height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  }
}

.swiper-3d {
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    background-image: none;
  }
}

@media screen and (min-width: 48rem) {
  .swipermain {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper-container {
    width: 100%;
  }
}

.swipercard {
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
  }
}

//Animation
// .swipercard {
//   transition: transform 0.5s ease, opacity 0.5s ease;
// }

// .swipercard.active {
//   transform: translateY(-300px);
//   opacity: 0;
// }

// .swipercard.centered {
//   transition: transform 0.5s ease;
//   transform: translateY(0);
// }

.swipercard {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.swipercard.active {
  transform: translateY(-100vh); /* Move card out of the viewport */
  opacity: 0;
}

.swipercard.centered {
  transition: transform 0.5s ease;
  transform: translateY(0);
}

.swipercard.dragging {
  transition: none; /* Disable transition while dragging */
}
